body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: #15191D;
    width: 20vh;
    color: #F9F5FF;
    align-items: center;
    padding: 0vh 2vh;
}

.logoArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 14vh;
}

.select {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5vh;
    padding: 1.5vh;
    border-radius: 1vh;
    color: #15191D;
    background-color: #F9F5FF;
    cursor: pointer;
    border: 3px solid #998FC7;
}

.main {
    flex: 1;
    background-color: #F9F5FF;
    display: flex;
    flex-direction: column;
}

.activityArea {
    flex: 1;
    background-color: #E0D9F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #F9F5FF;
    height: 75vh;
    width: 75vh;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #998FC7;
}